<!-- index.ejs-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <header class="header">
      <h1>Messages</h1>
      <a href="/new"><button class="new-btn">Post Message</button></a>
    </header>
    <section class="main">

      <div class="textContainer">
        <% messages.map((message, index) => { %>

        <a href="/message/<%= index %>">
          <div class="message">
            <h2><%= message.user %></h4>

          </div>
        </a>
        <%})%>
      </div>
    </section>
  </body>
</html>
